html {
  font-family: 'Roboto';
}

h1, h2, h3 {
  font-family: 'Kreon';
}

/*-----------------------NAV---------------------*/

header {
  background-color: #48A792;
}

h1 {
  color: white;
}

ol {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  background-color: white;
  color: #48A792;
}

@media only screen and (min-width: 60em) {


}

/*-----------------------HERO---------------------*/

main {
  background-color: #F0C414;
}

.hero-banner {
  position: relative;
}

.hero-text {
  position: absolute;
  display: block;
  text-align: center;
  top: 8rem;
  color: white;
  width: 100%;
  text-shadow: -1px 1px 4px rgba(0,0,0,0.8), 1px 1px 4px rgba(0,0,0,0.8);
}

@media only screen and (min-width: 20em) {

  li {
    display: inline-block;
  }

}

/*----------------------MAIN------------------*/

.button {
  border-width: 2px;
  border-style: solid;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;

  background-color: black;
  color: white;
}

/*----------------------FOOTER------------------*/

footer {
  background-color: #F4842B;
}

footer li {
  display: inline-block;
  width: 100%;
}

footer a {
  color: white;
}

.icons {
  float: left;
  width: 25%;

}
