html {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Kreon';
}

/*-----------------------NAV---------------------*/

header {
  background-color: #468966;
}

.logo {
  max-width: 170px;
}

nav ol {
  list-style-type: none;
  padding-left: 0;
}

 nav a, footer a {
  color: white;
  text-decoration: none;
}

nav a:hover, footer a:hover {
  background-color: white;
  color: #468966;
}

nav li {
  padding-left: 1.3rem;
}

@media only screen and (min-width: 25em) {

  nav li {
    display: inline-block;
    padding-left: 0;
  }

}

/*-----------------------INDEX.HTML---------------------*/

main {
  background-color: #FFF0A5;
}

.main-body {
  background-color:  #FFB03B;
}

main a {
  color:  #FFF0A5;
}

.hero-banner {
  position: relative;
}

.hero-text {
  position: absolute;
  display: block;
  text-align: center;
  bottom: 100px;
  color: white;
  width: 100%;
  text-shadow: -1px 1px 4px rgba(0,0,0,0.8), 1px 1px 4px rgba(0,0,0,0.8);
}

.button-top {
  border-radius: 40px;
  background-color: #468966;
  width: 60%;
  margin: 0 20%;
}

.button-top a {
  color: white;
}

.home-image {
  position: relative;
}

.home-image-text {
  position: absolute;
  display: block;
  z-index: 2;
  bottom: 10px;
  width: 60%;
  margin: 0 20%;

  border-width: 4px;
  border-style: solid;
  border-radius: 40px;
  border-color: #FFF0A5;

  text-align: center;
}

.home-image-text a:hover {
  color: #FFB03B;
}

.button {
  border-radius: 40px;
  background-color: #FFB03B;
  width: 40%;
  margin: 0 30%;
}

.button a {
  color: black;
}

.button a:hover {
  color: white;
}

@media only screen and (min-width: 60em) {

  .main-body {

  }

}
/*-----------------------PRICING.HTML---------------------*/

.title-banner {
  background-color: #FFB03B;
  width: 100%;
}

.pricing-main h2, h3 {
  text-align: center;
}

.pricing-unit {
  padding-left: 10%;
  padding-right: 10%;
}

.pricing-button {
  border-radius: 40px;
  background-color: #FFB03B;
  color: black;
  max-width: 12rem;
  margin: 0 auto;
}

.pricing-button a {
  color: black;
}

.pricing-button a:hover {
  color: white;
}

@media only screen and (min-width: 38em) {

  .pricing-main h2, h3 {
    text-align: left;
  }

  .pricing-unit {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }

}

/*-----------------------TOUR.HTML---------------------*/

.icons {
  max-width: 10em;
  margin: 0 auto;
}

/*----------------------SIGNUP------------------*/

.sign-up-p {
  border-style: solid;
  border-color: black;
  background-color: white;
  width: 50%;
  margin: 1.3rem auto;
  text-align: center;
}

label {
  display: block;
}

input + label {
  display: inline;
  cursor: pointer;
}

.radio-buttons {
  border: none;
}

.radio-label {
  padding-right: 1em;
}

/*----------------------FOOTER------------------*/

footer {
  background-color: #468966;
}

footer ol {
  padding-left: 0;
}

footer li {
  display: inline-block;
  width: 100%;
}

footer a, footer p {
  color: white;
}

.social-media {
  float: left;
  width: 25%;
  max-width: 5rem;
}
